/* For Debugging Only */
/* @import "helpers/debugging.css";  */
/* @import "helpers/htmllinting.css"; */

@import 'tailwindcss';

@theme {
	--color-orange: #ef7c17;
	--color-darkblue: #1c2532;

	/* --- shadcn-ui theme start --- */
	--background: 0 0% 100%;
	--foreground: 222.2 84% 4.9%;
	--card: 0 0% 100%;
	--card-foreground: 222.2 84% 4.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 222.2 84% 4.9%;
	--primary: 222.2 47.4% 11.2%;
	--primary-foreground: 210 40% 98%;
	--secondary: 210 40% 96.1%;
	--secondary-foreground: 222.2 47.4% 11.2%;
	--muted: 210 40% 96.1%;
	--muted-foreground: 215.4 16.3% 46.9%;
	--accent: 210 40% 96.1%;
	--accent-foreground: 222.2 47.4% 11.2%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 210 40% 98%;
	--border: 214.3 31.8% 91.4%;
	--input: 214.3 31.8% 91.4%;
	--ring: 222.2 84% 4.9%;
	--radius: 0.5rem;
	/* --- shadcn-ui theme end --- */

}

::selection {
	background-color: var(--color-orange);
	color: #fff;
}

body {
	@apply text-lg text-gray-800 dark:bg-gray-800 dark:text-gray-200;
}

a {
	@apply transition-all;
	text-decoration-line: underline;
	text-decoration-color: var(--color-orange);
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;

	&:hover {
		text-decoration-thickness: 4px;
	}
}
