/* For Debugging Only */
/* @import "helpers/debugging.css";  */
/* @import "helpers/htmllinting.css"; */

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-orange: #ef7c17;
	--color-darkblue: #1c2532;
	/* --- shadcn-ui theme start --- */
}

::selection {
	background-color: var(--color-orange);
	color: #fff;
}

body {
	@apply text-lg text-gray-800 dark:bg-gray-800 dark:text-gray-200;
}

a {
	@apply transition-all;
	text-decoration-line: underline;
	text-decoration-color: var(--color-orange);
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;

	&:hover {
		text-decoration-thickness: 4px;
	}
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose p,
.prose li,
.prose td,
.prose th,
.prose em,
.prose a {
	@apply text-gray-800 dark:text-gray-200;
}

.prose code {
	@apply mx-1 rounded-md px-1 py-1 text-sm text-stone-200 dark:text-gray-200;
	background-color: rgb(74, 74, 74);
}

.prose pre {
	background-color: rgb(74, 74, 74);
}

.prose pre code {
	background-color: transparent;
}
