/* For Debugging Only */
/* @import "helpers/debugging.css";  */
/* @import "helpers/htmllinting.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	background-color: theme("colors.orange");
	color: #fff;
}

body {
	@apply font-sans text-lg text-gray-800 dark:bg-gray-800 dark:text-gray-200;
}

a {
	@apply transition-all;
	text-decoration-line: underline;
	text-decoration-color: theme("colors.orange");
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;

	&:hover {
		text-decoration-thickness: 4px;
	}
}

p {
	@apply mb-2;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose p,
.prose li,
.prose td,
.prose th,
.prose code,
.prose em,
.prose a {
	@apply dark:text-gray-200 !important;
}

code {
	@apply text-stone-200 text-sm py-1 px-2 rounded-md;
	background-color: black;
}
